
#DATABASE
DATABASE=
DBHOST=
DBPASSWORD=
DBUSER=

#NODE_ENV
NODE_ENV=development
PORT=4004

ENV_CHECKS_FOR_MAIL=

# SMTP
SMTP_USER_NAME=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=
DEFAULT_FROM=
DEFAULT_REPLY_TO=

#JWT_SECRET
JWT_SECRET =