<body>
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                <tr>
                  <td align="center" valign="top">
                    <h1>Welcome</h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="justify" valign="top">
              <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody">
                <tr>
                  <td align="justify" valign="top">
                    <p>Hello,{USERNAME}</p>
                    <p> Welcome to Our Application, a revolutionary way to enhance your note using this
                      Application</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td align="justify" valign="top">
              <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailFooter">
                <tr>
                  <td align="justify" valign="top">
                    <p>This is a one-time email; your email address has not been added to any mailing list.</p>
                    <p>This email message and any documents attached to it are confidential and may contain information
                      that is protected from disclosure by various federal and state laws, including the HIPAA privacy
                      rule (45 C.F.R., Part 164). This information is intended to be used solely by the entity or
                      individual to whom this message is addressed. If you are not the intended recipient, be advised
                      that any use, dissemination, forwarding, printing, or copying of this message without the sender's
                      written permission is strictly prohibited and may be unlawful. Accordingly, if you have received
                      this message in error, please notify the sender immediately by return email, and then delete this
                      message.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>